<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dry Cleaning Service</title>
    <link rel="stylesheet" href="../src/css/main.css">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Your Dry Cleaning Service</h1>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../about.html">About Us</a></li>
                    <li><a href="../services.html">Our Services</a></li>
                    <li><a href="../offers.html">Offers & Loyalty Programs</a></li>
                    <li><a href="../why-us.html">Why Choose Us</a></li>
                    <li><a href="../gallery.html">Gallery</a></li>
                    <li><a href="../testimonials.html">Testimonials</a></li>
                    <li><a href="../contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>